{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empresa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empresa.id }}</td>
            </tr>
            <tr>
                <th>Nombreempresa</th>
                <td>{{ empresa.nombreEmpresa }}</td>
            </tr>
            <tr>
                <th>Dirreccion</th>
                <td>{{ empresa.dirreccion }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if empresa.createdAt %}{{ empresa.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if empresa.updatedAt %}{{ empresa.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empresa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('empresa_edit', { 'id': empresa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
