{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{{ asset('flatlab/assets/advanced-datatable/media/css/demo_page.css') }}" rel="stylesheet"
        xmlns="http://www.w3.org/1999/html"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('sweet_alert/dist/sweetalert.css') }}">
  <link href="{{ asset('flatlab/assets/advanced-datatable/media/css/demo_table.css') }}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{{ asset('sweet_alert/dist/sweetalert.css') }}">
{% endblock %}
{% block body %}
{{ parent() }}
<section id="main-content">
        <section class="wrapper site-min-height">
          <div class="panel-body">
    <h1>Lista Proveedores</h1>

    <table class="table table-striped table-hover  table-responsive">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Codproveedor</th>
                <th scope="col">Nombre Proveedor</th>
                <th scope="col">Fecha de Creacion</th>
                <th scope="col">Fecha de Modificacion</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proveedor in proveedors %}
            <tr>
                <td><a href="{{ path('proveedor_show', { 'id': proveedor.id }) }}">{{ proveedor.id }}</a></td>
                <td>{{ proveedor.codProveedor }}</td>
                <td>{{ proveedor.nombreProveedor }}</td>
                <td>{% if proveedor.createdAt %}{{ proveedor.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if proveedor.updatedAt %}{{ proveedor.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><a class="btn btn-info" href="{{ path('proveedor_show', { 'id': proveedor.id }) }}">Ver</a></td>
                <td><a class="btn btn-warning" href="{{ path('proveedor_edit', { 'id': proveedor.id }) }}">Editar</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div align="center">
    <a class="btn btn-success" href="{{ path('proveedor_new') }}">Crear Proveedor</a>
    </div>
    </div>
      </section>
      </section>
      {% endblock %}
      {% block javascripts %}
      {{ parent() }}
      <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $('#example').dataTable( {
            "aaSorting": [[ 0, "desc" ]]
        } );
      } );

      </script>
      <!--Select 2-->
      <script src="{{ asset('select2/select2.js') }}"></script>
      <!--Sweet Alert-->
      <script src="{{ asset('sweet_alert/dist/sweetalert.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('flatlab/assets/bootstrap-fileupload/bootstrap-fileupload.js') }}"></script>
      <!--jQuery DataTables-->
      <script type="text/javascript" src="{{ asset('flatlab/jquery.dataTables.js') }}"></script>
      <script type="text/javascript" src="{{ asset('flatlab/DT_bootstrap.js') }}"></script>

      {% endblock %}
